.text1{
  position: relative;
  right: 14px;
  border-radius: 100%;
}

.pizza{
  margin: 0 auto;
  margin: 5px;
  position: relative;
  left: 32px;
  top: 21px;
  width: 150px;
  height:150px;
}
.salad{
margin: 0 auto;
margin: 5px;
position: relative;
left: 32px;
top: 21px;
width: 150px;
height:150px;
}

#score{
  font-family: 'Monoton', cursive;
  color: white;
}