.text2{
  position: relative;
  right: -10px;
  border-radius: 100%;
}

.sing{
  margin: 0 auto;
  margin: 5px;
  width: 222px;
  height:222px;
}

#score1{
  font-family: 'Monoton', cursive;
  color: white;
}