.text3{
  position: relative;
  right: -37px;
  border-radius: 100%;
}

.fight{
  position: absolute;
  top:14%;
  left:12%;
  margin: 0 auto;
  width: 200px;
}

#score2{
  font-family: 'Monoton', cursive;
  color: #ff00bf;
}