@import './colors';
@import '../javascripts/components/eat/eat.scss';
@import '../javascripts/components/play/play.scss';
@import '../javascripts/components/fight/fight.scss';
@import '../javascripts/components/sleep/sleep.scss';
@import '../javascripts/components/pet/pet.scss';
@import './buttons';
@import '../javascripts/components/progress/progress.scss';

@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Bungee');
@import url('https://fonts.googleapis.com/css?family=Monoton');

body {
  background-image: $backimg;
}


#app {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 640px;
  border-radius: 100%;
  box-shadow: 1px 2px 5px 1px;
  #eat {
    display: flex;
    width: 320px;
    height: 320px;
    background: #ff00bf;
    border-radius: 100% 0% 0% 0%;
    border-bottom: 8px solid black;
    border: none;
    text-align: center;
    flex-direction: column;
  }
  #play {
    display: flex;
    justify-content: center;
    width: 320px;
    height: 320px;
    background:#ff00bf;
    border-radius: 0 100% 0 0;
    border-bottom: 8px solid black;
    border: none;
    text-align: center;
    flex-direction: column;
  }
  #fight {
    display: flex;
    justify-content: center;
    width: 320px;
    height: 320px;
    background: #fff;
    border-radius: 0 0 0 100%;
    border: none;
    border-top: 8px solid black;
    text-align: center;
    flex-direction: column;
    border-left:none;
  }
  #sleep {
    display: flex;
    justify-content: center;
    width: 320px;
    height: 320px;
    background: #fff;
    border-radius: 0 0 100% 0;
    border: none;
    border-top: 8px solid black;
    text-align: center;
    flex-direction: column;
    border-right:none;
  }
  #pet{
      position: absolute;
      top:29%;
      margin: 0 auto;
      margin: 5px;
      width: 222px;
      height:222px;
      border-radius: 100%;
      border: 8px solid black;
      background-image: url('../assets/sky.gif');
      z-index: 1;
  }
  .quad{
    display: flex;
    flex-direction: column;
    width: 175px;
    justify-content: center;
    position: relative;
    left: 0px;
    outline: none;
  }
  .quadTitle{
    font-family: 'Bungee', cursive;
    color: #fdade9;
    text-shadow: -1px -1px black, 1px 1px white;
    font-size: 2em;
    margin: 20px;
  }
  }

