.text4{
  position: relative;
  right: 40px;
  border-radius: 100%;
}

#score3{
  font-family: 'Monoton', cursive;
  color: #ff00bf;
}

.sleeping{
  position: absolute;
      top:-5%;
      left: -12px;
      margin: 0 auto;
      margin: 5px;
      width: 222px;
      height:222px;
      border-radius: 100%;
      border: 8px solid black;
      background-image: url('../assets/sky.gif');
      z-index: 1;
}
